<div class="preguntas">
  <h2>Preguntas frecuentes</h2>
  <ul class="collapsible popout">
    <li>
      <div class="collapsible-header">
        <h6>¿Cada cuánto tiempo se debe visitar al dentista?</h6>
        <i class="fa-solid fa-circle-plus"></i>
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <h6>¿Cuál es la enfermedad bucodental más común?</h6>
        <i class="fa-solid fa-circle-plus"></i>
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <h6>
          ¿Cuál es la mejor solución para reponer piezas dentales perdidas?
        </h6>
        <i class="fa-solid fa-circle-plus"></i>
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
  </ul>
</div>
