<div class="preguntas">
  <h2>Preguntas frecuentes</h2>
  <ul class="collapsible popout">
    <li>
      <div class="collapsible-header">
        <h6>¿Cada cuánto tiempo se debe visitar al dentista?</h6>
        <i class="fa-solid fa-circle-plus"></i>
      </div>
      <div class="collapsible-body">
        <span>El miedo al dentista es algo común que afecta tanto a niños como a mayores, pero es necesario superar ese miedo porque es fundamental acudir a la consulta del odontólogo al menos dos veces al año. Tenemos que visitar al dentista tengamos o no molestias o dolores, para que nos revisen boca y dientes.</span>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <h6>¿Cuál es la enfermedad bucodental más común?</h6>
        <i class="fa-solid fa-circle-plus"></i>
      </div>
      <div class="collapsible-body">
        <span>Caries dentales. Es la patología bucal más común y, además, la segunda enfermedad más habitual en España, después el resfriado. Puede que ya la hayas padecido en alguna ocasión, porque afecta al 90 % de la población mundial.</span>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <h6>
          ¿Cuál es la mejor solución para reponer piezas dentales perdidas?
        </h6>
        <i class="fa-solid fa-circle-plus"></i>
      </div>
      <div class="collapsible-body">
        <span>La mejor opción ante la falta de uno o mas dientes y para recuperar la estética y función después de la pérdida de dientes, son los implantes dentales</span>
      </div>
    </li>
  </ul>
</div>
