<div class="footer" id="ubicacion">
  <div class="container-footer">
    <div class="item-footer">
      <div class="sub-item-footer">
        <h4>Dirección</h4>
        <p>
          <i class="fa-solid fa-location-dot"></i>
          Escocia 3, Parque San Andrés, Coyoacán, 04040 Ciudad de México, CDMX
        </p>
        <h4>Horarios</h4>
        <p>
          <i class="fa-solid fa-calendar-days"></i>
          Lunes a Viernes de 9:30 a 2:00pm y 3:30 a 7:00 pm Sábados de 9:00 a
          2:00 pm
        </p>
      </div>
      <div class="sub-item-footer">
        <div class="item-mapa">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1882.2480883463807!2d-99.14660629221594!3d19.34765688714999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDIwJzUxLjkiTiA5OcKwMDgnNDMuOSJX!5e0!3m2!1ses!2smx!4v1709319996530!5m2!1ses!2smx"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-footer">
  <div class="sub-item-footer2">
    <p>© Biodontiq.Todos los derechos reservados.</p>
    <p><a href="#">Diseñado por Agencia de Marketing Digital Dentarios</a></p>
  </div>
</div>
