<div class="hero">
  <div class="item-hero">
    <h1>¿Quiénes Somos?</h1>
    <p>
      En Biodontiq nos especializamos en brindar tratamientos odontológicos de calidad, centrándonos en conseguir una buena salud bucal, lo que tendrá un impacto positivo en la salud general de nuestros pacientes, a través de una atención personalizada de un equipo profesional comprometido con la excelencia, la ética y la vanguardia.
    </p>
  </div>
  <div class="item-hero">
    <img src="assets/dra.png" alt="" />
  </div>
</div>
