<div class="hero">
  <div class="item-hero">
    <h1>¿Quiénes Somos?</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium rem
      quo mollitia doloremque est, at consequatur, iste suscipit voluptatibus
      error nemo, porro tenetur provident. Molestiae perferendis unde sint
      placeat debitis animi reprehenderit iure voluptate quaerat nisi ipsum amet
      natus esse, obcaecati totam corrupti rem, sapiente voluptatem molestias
      eum blanditiis rerum fugit optio illum? Corrupti porro enim expedita dicta
      ipsum?
    </p>
  </div>
  <div class="item-hero">
    <img src="assets/dra.png" alt="" />
  </div>
</div>
