.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.wraper-container {
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}
.logo-container {
  text-decoration: none;
}
.logo-container h1 {
  font-size: 28px;
  background: -webkit-linear-gradient(left top, #009092, #00ffff);
  background: linear-gradient(to bottom right, #009092, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  margin: 0;
}
.menu {
  position: absolute;
  width: 100%;
  background-color: #00c6c7;
  left: -100%;
  top: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 30px;
  transition: all 0.6s;
  z-index: 2;
}
.fondo-menu {
  position: absolute;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  left: -100%;
  top: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 30px;
  transition: all 1s;
  z-index: 1;
}

.openMenu {
  left: -20%;
  transition: all 0.8s;
}
.openMenu2 {
  left: 0;
  transition: all 0.6s;
}
.menu li {
  list-style: none;
  margin: 20px auto;
}
.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}
.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-menu img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}
@media (min-width: 767px) {
  .navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  }
  .wraper-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 30px;
  }
  .logo-container {
    text-decoration: none;
  }
  .logo-container h1 {
    font-size: 30px;
    background: -webkit-linear-gradient(left top, #009092, #00ffff);
    background: linear-gradient(to bottom right, #009092, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    margin: 0 auto;
  }
  .menu {
    position: relative;
    width: 72%;
    background-color: transparent;
    left: 0;
    top: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    transition: all 0.6s;
    z-index: 2;
  }
  .fondo-menu {
    display: none;
  }

  .openMenu {
    left: -10%;
    transition: all 0.8s;
  }
  .openMenu2 {
    left: 0;
    transition: all 0.6s;
  }
  .menu li {
    list-style: none;
    margin: 0px auto;
  }
  .menu li a {
    text-decoration: none;
    color: #009092;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
  }
  .btn-menu {
    display: none;
  }
  .line {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: #009092;
    transition: all 0.5s;
    transform: translate(-50%);
  }

  .menu li a:hover .line {
    background-color: none;
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 90%;
    height: 4px;
    background-color: #009092;
    transition: all 0.5s;
  }
  .menu li:nth-child(6) {
    margin: 0;
  }
  .btn-especial {
    display: block;
    background-color: #009092;
    color: #fff !important;
    padding: 0px 20px;
    font-size: 12px;
  }
}
