<nav class="navbar">
  <div class="wraper-container">
    <a href="" class="logo-container"><h1>BIODONTIQ</h1></a>
    <div class="fondo-menu" [ngClass]="collapsed ? 'openMenu2' : ''"></div>
    <ul class="menu" [ngClass]="collapsed ? 'openMenu' : ''">
      <li>
        <a href="/"
          >Inicio
          <div class="line"></div>
        </a>
      </li>
      <li>
        <a href=""
          >Nosotros
          <div class="line"></div>
        </a>
      </li>
      <li>
        <a href="#tratamientos"
          >Tratamientos
          <div class="line"></div>
        </a>
      </li>
      <li>
        <a href="#servicios"
          >Servicios
          <div class="line"></div>
        </a>
      </li>
      <li>
        <a href="#ubicacion"
          >Ubicación
          <div class="line"></div>
        </a>
      </li>
      <li>
        <a href="tel:5620087550" class="btn-especial">5620087550</a>
      </li>
    </ul>
    <div class="btn-menu" (click)="onMenu()">
      <img src="assets/menu.png" alt="" />
    </div>
  </div>
</nav>
