<div class="tratamientos" id="tratamientos">
  <h2>Tratamientos</h2>
  <div class="container-tratamientos">
    <div class="item-tratamientos">
      <img src="assets/ortodoncia.svg" alt="" />
      <h3>Ortodoncia</h3>
      <a href="https://wa.me/525620087550?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre">Contacto</a>
    </div>
    <div class="item-tratamientos">
      <img src="assets/corona-dental.png" alt="" />
      <h3>Ortopedia Dental</h3>
      <a href="https://wa.me/525620087550?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre">Contacto</a>
    </div>
    <div class="item-tratamientos">
      <img src="assets/blanqueamiento-dental.png" alt="" />
      <h3>Prótesis</h3>
      <a href="https://wa.me/525620087550?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre">Contacto</a>
    </div>
  </div>
  <div
    class="container-tratamientos-hidden"
    [ngClass]="showServicios ? 'showContainer' : ''"
  >
    <div class="item-tratamientos" *ngFor="let item of Datos">
      <img src="assets/{{ item.imgSrc }}" alt="" />
      <h3>{{ item.title }}</h3>
      <a href="https://wa.me/525620087550?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre">Contacto</a>
    </div>
  </div>
  <button (click)="showServices()">
    <p *ngIf="isTexto; else menor">Todos los servicios</p>
    <ng-template #menor><p>Menos servicios</p></ng-template>
  </button>
</div>
