<div class="services">
  <h2>Tratamientos Especiales</h2>
  <div class="wrapper-services">
    <div class="item-services">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/amalgamas.jpg" />
        </div>
        <div class="card-content">
          <h6>Retiros seguros de amalgamas</h6>
          <span class="card-title activator grey-text text-darken-4">
            <i class="fa-solid fa-circle-plus"></i>
          </span>
        </div>
        <div class="card-reveal">
          <h6>¿Qué es el retiro seguro de amalgamas?</h6>
          <span class="card-title btn-close grey-text text-darken-4"
            ><i class="fa-solid fa-circle-xmark"></i
          ></span>
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
    </div>
    <div class="item-services">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/ozonoterapia.jpg" />
        </div>
        <div class="card-content">
          <h6>Ozonoterapia</h6>
          <span class="card-title activator grey-text text-darken-4">
            <i class="fa-solid fa-circle-plus"></i>
          </span>
        </div>
        <div class="card-reveal">
          <h6>¿Qué es la ozonoterapia?</h6>
          <span class="card-title btn-close grey-text text-darken-4"
            ><i class="fa-solid fa-circle-xmark"></i
          ></span>
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
    </div>
    <div class="item-services">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/blanqueamiento.jpg" />
        </div>
        <div class="card-content">
          <h6>Blaqueamiento con Ozono</h6>
          <span class="card-title activator grey-text text-darken-4"
            ><i class="fa-solid fa-circle-plus"></i
          ></span>
        </div>
        <div class="card-reveal">
          <h6>¿Como es la Blaqueamiento con Ozono?</h6>
          <span class="card-title btn-close grey-text text-darken-4"
            ><i class="fa-solid fa-circle-xmark"></i>
          </span>
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
    </div>
    <div class="item-services">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/laserTerapeutico.jpg" />
        </div>
        <div class="card-content">
          <h6>Laser Terapeutico</h6>
          <span class="card-title activator grey-text text-darken-4">
            <i class="fa-solid fa-circle-plus"></i>
          </span>
        </div>
        <div class="card-reveal">
          <h6>¿Qué es el Laser Terapeutico?</h6>
          <span class="card-title btn-close grey-text text-darken-4">
            <i class="fa-solid fa-circle-xmark"></i>
          </span>
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
