<div class="services" id="servicios">
  <h2>Tratamientos Especiales</h2>
  <div class="wrapper-services">
    <div class="item-services">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/amalgamas.jpg" />
        </div>
        <div class="card-content">
          <h6>Retiros seguros de amalgamas</h6>
          <span class="card-title activator grey-text text-darken-4">
            <i class="fa-solid fa-circle-plus"></i>
          </span>
        </div>
        <div class="card-reveal">
          <h6>¿Qué es el retiro seguro de amalgamas?</h6>
          <span class="card-title btn-close grey-text text-darken-4"
            ><i class="fa-solid fa-circle-xmark"></i
          ></span>
          <p>
            En Biodontiq realizamos el retiro de los amalgamas siguiendo un exhaustivo protocolo de seguridad, protegiendo al paciente y al dentista de una posible intoxicación aguda producida por los vapores y la pulverización del mercurio.
            Para ello utilizamos:
            Un dique de goma como medida preventiva para aislar el campo operatorio, evitando el contacto de la amalgama retirada con las mucosas bucales del paciente
            Doble aspiración potente para evitar la inhalación de los vapores y del mercurio pulverizado
            Mascarillas con filtros adecuados para proteger al odontólogo y la auxiliar
            Uso de fuente alternativa de aire para el paciente (opcional)
            Sala con renovación natural de aire
            Una correcta praxis
          </p>
        </div>
      </div>
    </div>
    <div class="item-services">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/ozonoterapia.jpg" />
        </div>
        <div class="card-content">
          <h6>Ozonoterapia</h6>
          <span class="card-title activator grey-text text-darken-4">
            <i class="fa-solid fa-circle-plus"></i>
          </span>
        </div>
        <div class="card-reveal">
          <h6>¿Qué es la ozonoterapia?</h6>
          <span class="card-title btn-close grey-text text-darken-4"
            ><i class="fa-solid fa-circle-xmark"></i
          ></span>
          <p>
            La ozonoterapia es un tratamiento ampliamente utilizado en odontología en la actualidad, así como en otras áreas de la medicina. Las múltiples propiedades del ozono médico (mezcla de oxígeno y ozono) lo convierten en un agente perfecto para su uso en múltiples procedimientos.
          </p>
        </div>
      </div>
    </div>
    <div class="item-services">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/blanqueamiento.jpg" />
        </div>
        <div class="card-content">
          <h6>Blaqueamiento con Ozono</h6>
          <span class="card-title activator grey-text text-darken-4"
            ><i class="fa-solid fa-circle-plus"></i
          ></span>
        </div>
        <div class="card-reveal">
          <h6>¿Como es la Blaqueamiento con Ozono?</h6>
          <span class="card-title btn-close grey-text text-darken-4"
            ><i class="fa-solid fa-circle-xmark"></i>
          </span>
          <p>
            El blanqueamiento dental con ozono , se realiza utilizando el oxígeno medicinal y transformándolo a OZONO médico, como material básico para lograr el objetivo que es la decoloración dental o blanqueamiento.
          </p>
        </div>
      </div>
    </div>
    <div class="item-services">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/laserTerapeutico.jpg" />
        </div>
        <div class="card-content">
          <h6>Laser Terapeutico</h6>
          <span class="card-title activator grey-text text-darken-4">
            <i class="fa-solid fa-circle-plus"></i>
          </span>
        </div>
        <div class="card-reveal">
          <h6>¿Qué es el Laser Terapeutico?</h6>
          <span class="card-title btn-close grey-text text-darken-4">
            <i class="fa-solid fa-circle-xmark"></i>
          </span>
          <p>
            El láser terapéutico provoca un efecto analgésico, a la vez que estimula la formación de dentina reparativa. La aplicación de láser en el cuello de los dientes produce una modificación de la superficie que da como resultado una disminución aproximada del 90% de la sensibilidad dentaria.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
